GestaoMedicamentos/.vs/
GestaoMedicamentos/bin/
GestaoMedicamentos/obj/

GestaoMedicamentos.API/bin/
GestaoMedicamentos.API/obj/

GestaoMedicamentos.Produto/bin/
GestaoMedicamentos.Produto/obj/

GestaoMedicamentos.Relatorios/bin/
GestaoMedicamentos.Relatorios/obj/

GestaoMedicamentos.Web/bin/
GestaoMedicamentos.Web/obj/