@* API.cshtml *@

@{
    ViewData["Title"] = "API";
}

<h2>Explorando APIs</h2>

<p>Bem-vindo à minha coleção de projetos com APIs! Explorando diferentes serviços e funcionalidades para expandir minhas habilidades como desenvolvedor.</p>

<p>Meu objetivo é experimentar APIs diversas, desde aquelas que fornecem dados interessantes até as que oferecem funcionalidades poderosas. Cada projeto é uma oportunidade de aprendizado e aplicação prática.</p>