@* Auth0.cshtml *@
@{
    ViewData["Title"] = "Entendendo a API Auth0";
}

<h2>Auth0: Autenticação e Autorização Simplificadas</h2>

<p>
    A segurança é um pilar fundamental em qualquer aplicação web moderna, e é aí que a API Auth0 entra em cena.Em vez de construir um sistema de autenticação e autorização do zero, a Auth0 oferece uma solução completa  para gerenciar identidades e controlar o acesso aos seus recursos online.
</p>

<ul>
    <li>
        **Autenticação Universal:** Suporte a diversos métodos de login, como redes sociais (Google, Facebook, Twitter), provedores de identidade empresarial (Azure AD, Okta) e login tradicional com e-mail/senha.
    </li>
    <li>
        **Autorização Granular:** Defina permissões detalhadas para controlar quais usuários podem acessar quais recursos
        da sua aplicação.
    </li>
    <li>
        **Segurança Reforçada:** A Auth0 cuida da segurança por trás dos panos, protegendo seus usuários contra
        vulnerabilidades comuns como XSS e CSRF.
    </li>
    <li>
        **Experiência do Usuário Aprimorada:**  A Auth0 oferece uma interface amigável e personalizável para login,
        cadastro e gerenciamento de perfil, tornando a experiência do usuário mais agradável.
    </li>
</ul>

<h3>Exemplo Prático:</h3>

<p>
    Em um projeto web, você pode usar a API Auth0 para proteger áreas restritas, como perfis de usuário,
    painéis de administração ou qualquer conteúdo que exija autenticação. A API permite que você verifique
    se um usuário está autenticado, obtenha informações sobre o usuário (como nome, e-mail e outros dados do
    perfil) e personalize o processo de login de acordo com as necessidades da sua aplicação.
</p>

<h3>Links úteis</h3>

<p>
    <a href="https://auth0.com/docs">Documentação oficial.</a>
</p>